.error_message {
  display: block;
  color: #a94442;
  background: #f2dede;
  border: 1px solid #ebccd1;
  border-radius: 2px;
  font-weight: bold;
  padding: 2px 6px;
  margin: 15px;
  font-size: 13px;
}
