.session_form_header {
  color: #1178bd;
  background: #fff;
  border-bottom: 1px solid #d6d6d6;
  display: block;
}

.session_form_header .header_logo {
  margin: auto;
  width: 280px;
  height: 90px;

}

.session_form_header h1 {
  font-weight: bold;
  font-size: 30px;
  font-family: Open Sans, Arial, sans-serif;
  float: left;
  margin-left: 10px;
  line-height: 90px;
}

.session_form_header .header_logo div {
  width: 70px;
  background-image: image-url('horse_logo.png');
  background-size: cover;
  height: 70px;
  float: left;
  margin-top: 10px;
}

.session_form_body {
  position: relative;
  width: 100%;
  height: 100vh;
  display: block;
  background-image: image-url('bg_image_s.jpg');
  background-size: cover;
  background-position: bottom;
}

.session_form_body form {
  position: relative;
  top: 10%;
  margin: auto;
  width: 350px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 8px;
  background-image: image-url('form_transparency_pixel.png');
  font-family: Open Sans, Arial, sans-serif;
}

.session_form_body input {
  display: block;
  background: white;
  margin-bottom: 10px;
  height: 40px;
  line-height: 40px;
  padding: 0px 6px;
  width: 336px;
  color: #a9a9a9;
  border: 1px solid #c3c2c2;
  border-radius: 5px;
  font-size: 12px;
}

.session_form_body input:focus {
  outline: #1178bd auto 5px;
  outline-offset: -2px;
}

.session_form_body input[type="submit"] {
  display: block;
  background: linear-gradient(to bottom,#ff9628 5%,#ff8714 100%);
  color: white;
  border: none;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.session_form_body a {
  position: absolute;
  bottom: 15px;
  left: 20%;
  color: white;
}

.session_form_body button {
  cursor: pointer;
  display: block;
  background: linear-gradient(to bottom,#4499db 5%,#177ed7 100%);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  height: 40px;
  margin: 30px 0;
  width: 100%
}

.session_form_body li {
  display: block;
  color: #a94442;
  background: #f2dede;
  border: 1px solid #ebccd1;
  border-radius: 2px;
  font-weight: bold;
  padding: 2px 6px;
  margin: 0 0 15px;
  font-size: 13px;
}
