.splash_background {
  background-image: image-url('bg_image.jpg');
  background-size: cover;
  height: 492px;
  width: 100%;
  background-position: center;
  color: white;
  position: relative;
}

.splash_background .greeting {
  position: absolute;
  top: 40px;
  right: 150px;
  color: white;
}

.splash_background p:first-child {
  width: 600px;
  font-size: 45px;
  font-weight: 600;
}

.splash_background p {
  margin-top: 20px;
  width: 500px;
}

.splash_background .splash_links {
  position: absolute;
  top: 300px;
  right: 300px;
  font-weight: 700;
}

.splash_background .login {
  background: #4195d7;
  padding: 10px 70px;
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.splash_background .signup {
  background: #fd9235;
  padding: 10px 75px;
  border-radius: 5px;
  margin-left: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
