.main_header {
  margin-top: 10px;
  background: white;
  height: 70px;
  z-index: 3;
  position: relative;;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 5px;
    z-index: 100;
    overflow: visible;
    visibility: visible;
    pointer-events: none;
    top: -5px;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.1)));
    background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 5px;
    z-index: 100;
    overflow: visible;
    visibility: visible;
    pointer-events: none;
    bottom: -5px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(transparent));
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), transparent);
    background: linear-gradient(rgba(0, 0, 0, 0.1), transparent);
    border-top: 1px solid rgba(0, 0, 0, 0.15);
  }

    .main_header_inner {
      width: 960px;
      margin: auto;


      .main_header_nav {
        height: auto;
        display: flex;
        align-items: center;
      }

      .nav_logo {
        display: inline-flex;
        align-items: center;

        div {
          width: 50px;
          background-image: image-url('horse_logo.jpg');
          background-size: cover;
          height: 50px;
        }

        a {
          font-size: 24px;
          margin-left: 5px;
          color: #1178bd;
          font-weight: 700;
        }
      }

      .nav_menu {
        display: inline-flex;
        align-items: center;
        letter-spacing: -1.2px;

        a {
          font-size: 14px;
          padding-left: 40px;
          font-weight: 600;
          color: #9297a3;

          &:hover {
            color: #424242;
          }
        }
      }

      .main_header_nav_links {
        font-size: 14px;
        color: #9297a3;
        height: 70px;
        width: 800px;
        display: inline-flex;
        align-items: center;
        flex-direction: row-reverse;

        &:hover {
          color: black;
        }

        img {
          width: 50px;
          height: auto;
        }

        button {
          background: #98bd2a;
          color: #fff;
          border-radius: 2px;
          padding: 0 10px;
          cursor: pointer;
          height: 35px;
          margin-left: 10px;
        }
      }
   }
}
