.profile_tabs {
  margin: 0 auto;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  color: #1178bd;
  width: 960px;
  padding-bottom: 40px;

  a {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    margin-top: 1px;
    width: 300px;
    line-height: 42px;
    text-align: center;
    background: #f6f6f6;

    &.selected-tab {
      border-top: 3px solid #2aa5ef;
      border-bottom: none;
      background: #fff;
    }

    &:first-child {
      border-left: 1px solid #d9d9d9;
    }

    &:hover {
      opacity: .5;
    }
  }

  .placeholder {
    border-bottom: 1px solid #d9d9d9;
    width: 200px;
    background: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #d9d9d9;

    &:hover {
      opacity: 1;
      border-top: none;
      border-bottom: 1px solid #d9d9d9;
    }
  }
}
