.friends_container {
  margin: 0 auto;
  width: 960px;
  margin-top: 20px;
  min-height: 400px;
  margin-bottom: 30px;

  h2 {
    font-size: 30px;
    font-weight: 600;
    display: block;
    color: black;
    margin-bottom: 10px;
  }


}
