.routes_index_container {
  width: 960px;
  margin: auto;
  color: black;
  margin-bottom: 50px;

  .routes_index_title_container {
    display: flex;
    padding: 30px 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;

    h2 {
      font-size: 30px;
      font-weight: 600;
    }

    a {
      color: #fff;
      text-align: center;
      letter-spacing: .05em;
      background: linear-gradient(to bottom,#ff9628 5%,#ff8714 100%);
      padding: 15px 10px;
      border-radius: 3px;
      font-size: 12px;
      font-weight: 600;

      &:hover {
        background: #e56e06;
        cursor: pointer;
      }
    }
  }

  .routes_index_table {
    margin-top: 20px;

    .routes_index_header {
      border-left: 1px solid #e6e6e5;
      border-top: 1px solid #e6e6e5;
      border-bottom: 1px solid #e6e6e5;
      background: #f9f9f9;

      th {
        padding: 15px 10px;
        font-weight: 400;
        border-right: 1px solid #e6e6e5;
      }

      .route_title {
        width: 100px;
      }

      .route_created {
        width: 150px;
      }

      .route_distance {
        width: 105px;
      }

      .route_name {
        width: 180px;
      }

      .route_origin {
        width: 200px;
      }

      .route_options {
        width: 100px;
      }
    }

    .route_index_item {
      border-right: 1px solid #e6e6e5;


      &:nth-child(2n) {
        background: #f9f9f9;
      }

      &:hover {
        background: #ececec;
      }

      .route_map_container {
        width: 80px;
        height: 80px;
        padding: 10px 5px;
      }

      td {
        text-align: center;
        border-left: 1px solid #e6e6e5;
        border-bottom: 1px solid #e6e6e5;
      }

      .route_index_item_date {
        color: #0076c0;
      }

      .route_index_item_distance {
        color: #6cb448;
        font-weight: 600;
      }

      .route_index_item_delete {
        color: #0076c0;
        cursor: pointer;
      }
    }

  }
}
