
.activity_feed_container {

  .activity_comments {

    .activity_comments_list_container {
      width: 100%;
      float: right;
      box-sizing: border-box;
      box-shadow: #e0e0e0 2px 2px 0;
      background-color: #f8f8f8;
      border-top: 1px solid #cdcdcd;
      background: #fff;

      h3 {
        color: #0083d5;
        font-size: 15px;
        font-weight: 600;
        padding-bottom: 4px;
        margin: 10px 20px;
        border-bottom: 1px solid #cdcdcd;
      }

      .activity_comments_list {
        border-bottom: 1px solid #cdcdcd;


        .activity_comment {
          padding: 10px 20px;
          vertical-align: middle;

          img {
            height: 30px;
            width: 30px;
            display: inline;
            vertical-align: middle;
          }

          .activity_comment_details {
            padding-left: 10px;
            font-size: 12px;
            display: inline-block;
            width: 170px;
            word-wrap: break-word;

            .activity_comment_author_name {
              color: #0083d5;
              font-weight: 600;
            }

            .activity_comment_body {
              color: #000000;
            }
          }

          input[type="submit"] {
            float: right;
            color: #0083d5;
            font-size: 12px;
            display: inline;
            cursor: pointer;
            line-height: 40px;
          }
        }
      }

      .post_activity_comment_form {
        background: #fff;
        height: 50px;
        overflow: hidden;
        padding: 0 20px;
        display: flex;
        justify-content: flex-start;;
        align-items: center;

        img {
          height: 30px;
          width: 30px;
        }

        input[type="text"] {
          color: #555555;
          align-self: center;
          border: 1px solid #c3c2c2;
          transition: border linear 0.2s, box-shadow linear 0.2s;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          border-radius: 4px;
          padding: 7px 8px;
          font-size: 12px;
          margin-left:8px;
          width: 450px;

          &:focus {
            border-color: rgba(82, 168, 236, 0.8);
            outline: 0;
            outline: thin dotted \9;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          }
        }

        input[type="submit"] {
          background: #ffffff;
          border-radius: 5px;
          border: 1px solid #2f98d9;
          color: #2f98d9;
          text-shadow: 0 3px 3px #fff;
          box-shadow: none;
          margin-left: 8px;
          font-size: 13px;
          font-weight: 700;
          letter-spacing: 1px;
          padding: 7px
        }

      }

    }
  }
}
