.modal-overlay {
  position: fixed;
  top: 90px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  z-index: 3;
  opacity: .9;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 300px;
  margin-left: -200px;
  margin-top: -150px;
  padding-top: 10px;
  border: 1px solid #eee;
  background-color: #afaeae;
  z-index: 10;

  .map_loading_container {
    margin: auto;
    width: 90%;
    height: 90%;
    background-color: #ffffff;
    text-align: center;

    p {
      padding: 15px 0;
      margin: auto;
      width: 300px;
      color: #000000;
      border-bottom: 1px solid #000000;
    }

    span {
      padding-top: 20px;

      color: #000000;
    }

    .map_loading_inner {
      margin: auto;
    }
  }
}


.loader {
  font-size: 10px;
  margin: 30px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #2ca4df;
  background: -moz-linear-gradient(left, #2ca4df 10%, rgba(44,164,223, 0) 42%);
  background: -webkit-linear-gradient(left, #2ca4df 10%, rgba(44,164,223, 0) 42%);
  background: -o-linear-gradient(left, #2ca4df 10%, rgba(44,164,223, 0) 42%);
  background: -ms-linear-gradient(left, #2ca4df 10%, rgba(44,164,223, 0) 42%);
  background: linear-gradient(to right, #2ca4df 10%, rgba(44,164,223, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #2ca4df;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
